/***** Original svg size And Mobile Screen *****/

@media (min-width: 301px) {
  .top-lip {
    fill: plum;
  }

  .bottom-lip {
    fill: hotpink;
  }

  .big-drop {
    fill: hotpink;
    filter: blur(5px);
  }

  .lil-drop {
    fill: hotpink;
    filter: blur(5px);
  }
}

/***** Tablet Screens *****/

@media (max-width: 768px) {
  .top-lip {
    fill: powderblue;
  }

  .bottom-lip {
    fill: lightsalmon;
  }

  .big-drop {
    fill: lightsalmon;
    filter: blur(5px);
  }

  .lil-drop {
    fill: lightsalmon;
    filter: blur(5px);
  }
}

/***** Desktop Screens *****/

@media (min-width: 992px) {  
  .top-lip {
    fill: lightgreen;
  }

  .bottom-lip {
    fill:  skyblue;
  }

  .big-drop {
    fill: skyblue;
    filter: blur(5px);
  }

  .lil-drop {
    fill: skyblue;
    filter: blur(5px);
  }
}

/***** Desktop Screens *****/

@media (min-width: 1200px) {
  .top-lip {
    fill: lemonchiffon;
  }

  .bottom-lip {
    fill: palevioletred;
  }

  .big-drop {
    fill: palevioletred;
    filter: blur(5px);
  }

  .lil-drop {
    fill: palevioletred;
    filter: blur(5px);
  }
}